In [3]:
import pandas as pd

In [4]:
## create series from a dictionary
data_dict = {'a': 1, 'b': 2, 'c': 3}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

a    1
b    2
c    3
dtype: int64

In [5]:
## index series
data = [1, 2, 3, 4, 9]
index = ['a', 'b', 'c', 'd', 'e']
pd.Series(data, index=index)
## series_with_index = pd.Series(data, index=index)
## print(series_with_index)

a    1
b    2
c    3
d    4
e    9
dtype: int64

In [ ]:
## DataFrame
## A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

In [8]:
 ##Dataframe
## create a dataframe from a dictionary off list
data={
    'name': ['Amit', 'Swapnil', 'Harshit'],
    'age': [23, 22, 24],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
df=pd.DataFrame(data)

print(df)
print(type(df))  # Check the type of the DataFrame

      name  age         city
0     Amit   23     New York
1  Swapnil   22  Los Angeles
2  Harshit   24      Chicago
<class 'pandas.core.frame.DataFrame'>

In [9]:
import numpy as np
np.array(df)

array([['Amit', 23, 'New York'],
       ['Swapnil', 22, 'Los Angeles'],
       ['Harshit', 24, 'Chicago']], dtype=object)

In [57]:
## create a dataframe from a list of dictionaries
data = [
    {'name': 'Amit', 'age': 30, 'city': 'Noida'},
    {'name': 'Billu', 'age': 25, 'city': 'Lapataganj'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]
df = pd.DataFrame(data)
#print(df)
#print(type(df))  # Check the type of the DataFrame
## Data manipulation with DataFrame
df['Salary'] = [50000, 60000, 70000] #Add a column 
## drop a column 
#agar temprory karna hai to inplace use nhi krenge and if we use inplace=True then it affect permanent
df.drop('city', axis=1, inplace=True)  # Drop the 'city' column
## ADD AGE TO THE COLUMN with manipulation of data (if changfe column name the create a new column Aautomatically
df['age_inc'] = df['age'] + 5
df['age_dec'] = df['age'] - 5
## jab hame use columne me manipulation karna ho tab
df['age'] = df['age'] + 1  # Increment the 'age' column by 1
print(df)

      name  age  Salary  age_inc  age_dec
0     Amit   31   50000       35       25
1    Billu   26   60000       30       20
2  Charlie   36   70000       40       30

In [59]:
## csv file kaise padhe same folder me hona chahiye 

df=pd.read_csv('data.csv')
##df.head(5)
##df.tail(5)
##print(df.tail(5))  # Display the last 5 rows of the DataFrame
##df
##df['Value']
##df.loc[0]
df.iloc[0]

Date        2023-01-01
Category             A
Value             28.0
Product       Product1
Sales            754.0
Region            East
Name: 0, dtype: object

In [ ]:
## Accessing  a specific element 
## print(df)
#df.at[1,'Sales']
df.iat[1, 2]  # Accessing the element at row index 1 and column index 2
df.describe() ## kafi kuch automate krega

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000

In [58]:
## Data manipulation with DataFrame
print(df)

      name  age  Salary  age_inc  age_dec
0     Amit   31   50000       35       25
1    Billu   26   60000       30       20
2  Charlie   36   70000       40       30