In [2]:
import pandas as pd
import numpy as np

In [ ]:
## create series from a dictionary
data_dict = {'a': 1, 'b': 2, 'c': 3}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

In [ ]:
## index series
data = [1, 2, 3, 4, 9]
index = ['a', 'b', 'c', 'd', 'e']
pd.Series(data, index=index)
## series_with_index = pd.Series(data, index=index)
## print(series_with_index)

In [ ]:
## DataFrame
## A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

In [ ]:
 ##Dataframe
## create a dataframe from a dictionary off list
data={
    'name': ['Amit', 'Swapnil', 'Harshit'],
    'age': [23, 22, 24],
    'city': ['New York', 'Los Angeles', 'Chicago']
}
df=pd.DataFrame(data)

print(df)
print(type(df))  # Check the type of the DataFrame

In [ ]:

#np.array(df)

In [ ]:
## create a dataframe from a list of dictionaries
data = [
    {'name': 'Amit', 'age': 30, 'city': 'Noida'},
    {'name': 'Billu', 'age': 25, 'city': 'Lapataganj'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'},
        {'name': 'Shobhit', 'age':None , 'city': 'Noida'},
    {'name': 'Shweta', 'age': 25, 'city':None }

]
df = pd.DataFrame(data)
df.isna().sum()  # Count of missing values in each column
df.fillna({'age': df['age'].mean(), 'city': 'Unknown'}, inplace=True)
print(df)
#print(df.dropna(subset=['age']))
print(df.dropna(thresh=2))
#df.fillna({'age': df['age'].mean(), 'city': 'Unknown'}, inplace=True)
#print(df)
#print(type(df))  # Check the type of the DataFrame
## Data manipulation with DataFrame
#df['Salary'] = [50000, 60000, 70000] #Add a column 
## drop a column 
#agar temprory karna hai to inplace use nhi krenge and if we use inplace=True then it affect permanent

#df.drop('city', axis=1, inplace=True)  # Drop the 'city' column
## ADD AGE TO THE COLUMN with manipulation of data (if changfe column name the create a new column Aautomatically
#df['age_inc'] = df['age'] + 5
#df['age_dec'] = df['age'] - 5
## jab hame use columne me manipulation karna ho tab
# df['age'] = df['age'] + 1  # Increment the 'age' column by 1
#print(df)

In [ ]:
## csv file kaise padhe same folder me hona chahiye 

# df=pd.read_csv('data.csv')
# df.head(5)
# #print(df.shape)
# ##df.tail(5)
# # print(df.columns)
# # print(df.info())
# # print(df.describe())
# ##print(df.tail(5))  # Display the last 5 rows of the DataFrame
# ##df
# ##df['Value']
##df.loc[0]
##df.iloc[0]

In [ ]:
#a=pd.read_csv('PandasExample.csv')
print("***********************1.***************************\n\n")
# a.head(10)
# print(df.shape)
# #print(data)
# df.tail(5)
# print(df.columns)
# print(df.info())
# print(df.describe())
# print(df.tail(5))  # Display the last 5 rows of the DataFrame
# df['Value']

In [ ]:
## Accessing  a specific element 
## print(df)
#df.at[1,'Sales']
df.iat[1, 2]  # Accessing the element at row index 1 and column index 2
df.describe() ## kafi kuch automate krega

In [ ]:
## Data manipulation with DataFrame
print(df)

DATA TRANSFORMATION

> dropn na
> drop columns
> drop by subset
> drop by thres
> drop by how any 
> drop by how all

In [ ]:
data = [
    {'name': 'Amit', 'age': 30, 'city': 'Noida'},
    {'name': 'Billu', 'age': 25, 'city': 'Lapataganj'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'},
        {'name': 'Shobhit', 'age':None , 'city': 'Noida'},
    {'name': 'Shweta', 'age': 25, 'city':None }

]
z = pd.DataFrame(data)
#z.head()
#print(z.dropna(axis=1))
#print(z.dropna(how='all'))
#print(z.drop(columns=['name']))
#z.dropna(subset=['age'])

# z.dropna(how='any')
# z.dropna(how='all')

#print(z.dropna(thresh=1))
#z.drop('city', axis=1, inplace=True)  # Drop the 'city' column

In [ ]:
tt=pd.DataFrame({
    "A": [1,2,None,4,5],
    "B": [10.0,np.nan,30.0,np.nan,50.0],
    "C": ["x",None ,"z",None,"w"],
    "D": [None,None,None,3.14,2.71],
    "E": [None,2,None,None,5]
})

# tt_inplace=tt.copy()
# print(tt_inplace.dropna(subset=['A'],inplace=False))

#print("detect missing the isna() \n",tt.isna())
#print("detect \n",tt.isna().sum())
#print("detect \n",tt.isnull())
#print("detect not missing values \n",tt.isnotna())
#print("detect ",tt.isna().sum(axis=1))
#print("detect ",tt.dropna())
#tt.inplace
#print("detect \n",tt.dropna(axis=1,thresh=3))
#rint("detect \n",tt.dropna(axis=0,thresh=3))
# print(tt.dropna(subset=['A','B']))
#tt.dropna(how='any')
##tt.dropna(how='all')
# print(tt)
# print(tt.fillna({
#     'A':tt['A'].mean(),
#     'B':tt['B'].mean(),
#     'C':tt['C'].mode()[0],
#     'D':tt['D'].mean(),
#     'E':tt['E'].mean()
# }, inplace=True))

# tt.fillna({'A':0,'B':0,'C':'Unknown','D':0,'E':0}, inplace=True)

#  ffill and bfill not done 

# tt.fillna(method='ffill', inplace=True)
# tt=tt.ffillna()
# print(tt.fillna(method='bfill', inplace=True))

tt_interpolate=tt.copy()
tt_interpolate['A']=tt_interpolate['A'].interpolate()
print(tt)
# Interpolate along the index with linear method and data time etc

CREATE A DEMO DATAFRAME WITH DUPLICATE

In [ ]:
data={
    'name': ['Amit', 'Swapnil', 'Harshit','Amit','Harshit','Shobhit'],
    'age': [23, 22, 24,23,24,25],
    'city': ['New York', 'Los Angeles', 'Chicago','New York', 'Chicago','Noida']
}
df=pd.DataFrame(data)
print("\tORIGINAL DATAFRAME:\n")
print(df,"\n")

# print("\t Duplicated Boolean Value:\n")
# print("booleaan masking for duplicate rows:\n",df.duplicated(),"\n" )

# print("\t Duplicated Rows:\n")
# print("duplicate rows are:\n",df[df.duplicated()])

# print("\t DataFrame after removing Duplicated Rows:\n")
# print(df.drop_duplicates(),"\n")    

# print("\t Duplicated Boolean Value based on 'age' column:\n"  )
# print(df.duplicated(subset=['age']),"\n" )

# print("\t keep last Duplicated Boolean Value based on 'age' column:\n"  )
# print(df.duplicated(subset=['age'],keep='last'),"\n" )
# print(df.duplicated(subset=['age'],keep='first'),"\n" )
#print(df[df.duplicated(subset=['age'],keep=False)],"\n" )

# print("\t Duplicated Rows based on 'age' column:\n")
# print(df[df.duplicated(subset=['age'])],"\n")

# print("\t DataFrame after removing Duplicated Rows based on 'name' column:\n")
# print(df.drop_duplicates(subset=['name']),"\n")

# 15 Sept 2025
DATA TRANSFORMATION & NUMPY

 # apply() work on only series not on dataframe directly and only one column at a time
 # map() work on both series and dataframe and can work on multiple columns at a time
 ##transform() fumction works on

# MAP ()

In [ ]:
# ðŸ“Œ Employee DataFrame

data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Amit", "Ravi", "Neha", "Ritu", "Simran"],
    "Gender": ["M", "M", "F", "F", "F"],
    "Age": [25, 30, 22, 28, 35],
    "Salary": [50000, 60000, 55000, 48000, 75000],
    "Department": ["HR", "Finance", "IT", "Marketing", "IT"],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df, "\n")

# -------------------------------------------------
# 1. df[] â†’ Basic Selection
# print("df['Name'] â†’ Select a column:\n", df["Name"], "\n")
# print("df[['Name', 'Salary']] â†’ Multiple columns:\n", df[["Name", "Salary"]], "\n")
# print("df[0:3] â†’ Row slice:\n", df[0:3], "\n")

# -------------------------------------------------
# 2. .loc[] â†’ Label-based selection
# print("df.loc[2] â†’ Row by label:\n", df.loc[2], "\n")
# print("df.loc[1, 'Salary'] â†’ Single cell (label-based):", df.loc[1, "Salary"], "\n")
# print("df.loc[[0, 3], ['Name', 'Age']] â†’ Multiple rows/columns:\n",
#       df.loc[[0, 3], ["Name", "Age"]], "\n")
# print("Rows where Age > 25 and Salary > 50000:\n", df.loc[(df["Age"] > 25) & (df["Salary"] > 50000)], "\n")



# -------------------------------------------------
# 3. .iloc[] â†’ Position-based selection
# print("df.iloc[2] â†’ Row by position:\n", df.iloc[2], "\n")
# print("df.iloc[1, 2] â†’ Single cell (position-based):", df.iloc[1, 2], "\n")
# print("df.iloc[0:3, 0:3] â†’ Range of rows/cols:\n", df.iloc[0:3, 0:3], "\n")

# -------------------------------------------------
# 4. .at[] â†’ Fast scalar access by label
# print("df.at[2, 'Salary'] â†’", df.at[2, "Salary"], "\n")

# -------------------------------------------------
# 5. .iat[] â†’ Fast scalar access by position
# print("df.iat[2, 4] â†’", df.iat[0, 5], "\n")

# -------------------------------------------------
# 6. .isin() â†’ Filter by values
# 0print("Rows where Gender is Female:\n", df[df["Gender"].isin(["F"])], "\n")
# print("Rows where Name is Amit or Simran:\n", df[df["Name"].isin(["Amit", "Simran"])], "\n")

# -------------------------------------------------
# 7. .between() â†’ Range filter
print("Rows where Age is between 25 and 30:\n", df[df["Age"].between(25, 30)], "\n")

# -------------------------------------------------
# 8. .query() â†’ SQL-like filtering
# print("Rows where Age > 25 and Salary > 50000:\n", df.query("Age > 25 and Salary > 50000"), "\n")

# -------------------------------------------------
# 9. .where() â†’ Keep only matching values (others become NaN)
# print("Keep only rows where Salary > 55000 (others NaN):\n", df.where(df["Salary"] > 55000), "\n")

# -------------------------------------------------
# 10. .mask() â†’ Opposite of where (mask condition â†’ NaN)
# print("Mask rows where Salary > 55000 (set them NaN):\n", df.mask(df["Salary"] > 55000), "\n")

# ------------------------ Edited Cells Below ------------------------
# 11. rename() â†’ Rename columns
# print("Rename Name to Employee_Name:\n", df.rename(columns={"Name": "Employee_Name"}), "\n")
# print("Rename 'Salary' to 'Income':\n", df.rename(columns={"Salary": "Emp_Salary"}), "\n")

# 12. replace() â†’ Replace values
# print("Replace 'Gender' M with 'Male':\n", df.replace({"Gender": {"M": "Male", "F": "Female"}}), "\n")

# 13. apply() â†’ Apply function to column
# print("Apply function to increase Salary by 10%:\n", df.assign(Salary=df["Salary"].apply(lambda x: x * 1.1)), "\n")
# print("Apply function to categorize Age:\n", df.assign(Age_Group=df["Age"].apply(lambda x: "Young" if x < 30 else "Experienced")), "\n")
# print(" Apply function to uper case:\n", df.assign(Name_Upper=df["Name"].apply(lambda x: x.upper())), "\n")
# print("Sum of salary row wise  :\n", df.assign(Total_Salary=df["Salary"].apply(lambda x: x)), "\n")
# print("Sum of salary row wise:\n", df["Salary"].apply(lambda x: x).sum(), "\n")

# 14. map() â†’ Map values using a dictionary or function
# print("Apply map function to increase Salary by 10%:\n", df.assign(Salary=df["Salary"].map(lambda x: x * 1.1)), "\n")
# print("Map Gender values to new labels:\n", df.assign(Gender_code=df["Gender"].map({"M": 1, "F": 2})), "\n")

# 15. sort_values() â†’ Sort DataFrame by column(s)
# print("DataFrame sorted by Age descending:\n", df.sort_values(by="Age", ascending=False), "\n")

# 16. transform() â†’ Transform column values\
# print("Transform Salary to double:\n", df.assign(Double_Salary=df["Salary"].transform(lambda x: x * 2)), "\n ")
# print("Transform Salary to log scale:\n", df.assign(Log_Salary=df["Salary"].transform(np.log)), "\n")
# print("Average Salary:\n", df["Salary"].transform(np.mean), "\n") not executed

# 17. GroupBy and Aggregation
# print("Average Salary by Department:\n", df.groupby("Department")["Salary"].mean(), "\n")

# 18. Selecting Rows Based on Conditions
# print("Rows where Age > 25:\n", df[df["Age"] > 25], "\n")
# print("Rows where Department is IT:\n", df[df["Department"] == "IT"], "\n")

# 19.  Use Filter with multiple conditions
# print(df[(df['Age']>25) & (df['Salary']>50000)])

# 20. isna() and notna() â†’ Detect missing values
print("Rows with missing Salary:\n", df[df["ID"].isna()], "\n")
print("Rows with non-missing Salary:\n", df[df["Salary"].notna()], "\n")

Original DataFrame:
       ID    Name Gender  Age  Salary Department         City
0  101.0    Amit      M   25   50000         HR     New York
1  102.0    Ravi      M   30   60000    Finance  Los Angeles
2  103.0    Neha      F   22   55000         IT      Chicago
3    NaN    Ritu      F   28   48000  Marketing      Houston
4  105.0  Simran      F   35   75000         IT      Phoenix

Rows where Age is between 25 and 30:
       ID  Name Gender  Age  Salary Department         City
0  101.0  Amit      M   25   50000         HR     New York
1  102.0  Ravi      M   30   60000    Finance  Los Angeles
3    NaN  Ritu      F   28   48000  Marketing      Houston

Rows with missing Salary:
    ID  Name Gender  Age  Salary Department     City
3 NaN  Ritu      F   28   48000  Marketing  Houston

Rows with non-missing Salary:
       ID    Name Gender  Age  Salary Department         City
0  101.0    Amit      M   25   50000         HR     New York
1  102.0    Ravi      M   30   60000    Finance  Los Angeles
2  103.0    Neha      F   22   55000         IT      Chicago
3    NaN    Ritu      F   28   48000  Marketing      Houston
4  105.0  Simran      F   35   75000         IT      Phoenix

#NEW DATA SET

      dept gender    salary   bonus     name  join_year
0       ML      M   78251.0  7195.0  Emp_001       2023
1  Product      F  108016.0  7478.0  Emp_002       2020
2       HR      M   56592.0  7509.0  Emp_003       2025
3      Ops      F   47140.0  4932.0  Emp_004       2024
4     Data      F   73119.0  8741.0  Emp_005       2018
5     Data      M   55157.0  3695.0  Emp_006       2020
6     Data      F   76263.0  8193.0  Emp_007       2021
7  Finance      F   83006.0  9020.0  Emp_008       2019
8       HR      F   50240.0  5316.0  Emp_009       2025
9       HR      F   57052.0  4686.0  Emp_010       2025