In [9]:
import pandas as pd
from io import StringIO
Data = '{"employee_name":"Amit", "email":"amit@example.com" , "job_profile":"DataAnalyst"}'
pd.read_json(StringIO(Data))

ValueError: If using all scalar values, you must pass an index

In [13]:
import pandas as pd
from io import StringIO
Data = '{"employee_name":"Amit", "email":"amit@example.com" , "job_profile": [{"title": "DataAnalyst"}]}'
df=pd.read_json(StringIO(Data))

In [15]:
df.to_json(orient='index')

'{"0":{"employee_name":"Amit","email":"amit@example.com","job_profile":{"title":"DataAnalyst"}}}'

In [17]:
df.to_json(orient='records')

'[{"employee_name":"Amit","email":"amit@example.com","job_profile":{"title":"DataAnalyst"}}]'

In [18]:
## by url
pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/hw_200.csv', header=None)

         0                 1                  2
0    Index   Height(Inches)"   "Weight(Pounds)"
1        1             65.78             112.99
2        2             71.52             136.49
3        3             69.40             153.03
4        4             68.22             142.34
..     ...               ...                ...
196    196             65.80             120.84
197    197             66.11             115.78
198    198             68.24             128.30
199    199             68.02             127.47
200    200             71.39            127.88

[201 rows x 3 columns]

In [21]:
a=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)
a.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [22]:
a.to_csv('wine.csv')

In [35]:
## all dependency required to be installed before using an html dataset
#!pip install lxml
#!pip install html5lib
#!pip install beautifulsoup4
#!pip install openpyxl

In [ ]:
  ## by  (remove # to run the  code)

url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
#dfs = pd.read_html(url)
#dfs[0]

In [ ]:
url="https://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url, match="Country", header=0)[0]

In [ ]:
pd.read_excel('Data.xlsx')
# el picle file bhi h

    Name  Age
0  Amit    23
1   Hero   25